/*Position and min height are for sticky footer*/
html {
  position: relative;
  min-height: 100%;

}

nav{
	font-family: 'Open Sans', Arial, "Helvetica Neue", Helvetica, sans-serif;

}



/*Body set to default specs*/
body {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: #000;
	min-height: 100%;
	margin: 0 0 60px 0;
	background-color: #00a8e8;

}
.navBackground{
	background-color: #00171f;
	color:#ffffff;
}
.containerMainBody{

	padding: 20px;
	margin-bottom: 30px;
	border:2px solid #00171f;
	background-image: url("../images/textured_paper.png");
}
.containerSidebar{

	padding:20px;
	margin-bottom: 30px;
	border:2px solid #00171f;
	background-image: url("../images/textured_paper.png");
}
.headerMainBody{
	border-bottom:3px solid #003459;
	color:#003459;
	margin-bottom: 20px;
}
.headerSidebar{
	border-bottom:3px solid #003459;
	color:#003459;
	margin-bottom: 20px;
}
.imageEric{
	float: left;
	margin-right: 10px;
}
p.paragraphText{
	font-size: 14px;
	line-height: 25px;


}
.headerTextColor{
	color:#ffffff;
}

a:link.headerTextColor{
	color: #ffffff;
	text-decoration: none;
}


a:visited.headerTextColor {
    color: #ffffff;
}

a:hover.headerTextColor{
	color:#003459;
}








footer{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #00171f;
	color:#ffffff;
}
  	
.footerCenter{
	padding: 20px;
}


.navbar-default {
  background-color: #00171f;
  border-color: #007ea7;
}
.navbar-default .navbar-brand {
  color: #f8fafb;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #00a8e8;
}
.navbar-default .navbar-text {
  color: #f8fafb;
}
.navbar-default .navbar-nav > li > a {
  color: #f8fafb;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #00a8e8;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #00a8e8;
  background-color: #007ea7;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #00a8e8;
  background-color: #007ea7;
}
.navbar-default .navbar-toggle {
  border-color: #007ea7;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #007ea7;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #f8fafb;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #f8fafb;
}
.navbar-default .navbar-link {
  color: #f8fafb;
}
.navbar-default .navbar-link:hover {
  color: #00a8e8;
}
.activePage{
	background-color: #003459;

}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #f8fafb;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #00a8e8;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #00a8e8;
    background-color: #007ea7;
  }
}








