/*Position and min height are for sticky footer*/
html {
  position: relative;
  min-height: 100%;

}

nav{
	font-family: 'Open Sans', Arial, "Helvetica Neue", Helvetica, sans-serif;

}

body {
	font-family: 'Alegreya Sans', "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #000;
	min-height: 100%;
	margin: 0 0 60px 0;
	background-color:#00a8e8;
	background-image: linear-gradient(white 2px, transparent 2px),
	linear-gradient(90deg, white 2px, transparent 2px),
	linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
	linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);
	background-size:100px 100px, 100px 100px, 20px 20px, 20px 20px;
	background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px;
	-webkit-transform: translate3d(0, 0, 0);
}

footer{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #00131a;
	color:#ffffff;
}

.navBackground{
	background-color: #00171f;
	color:#ffffff;
}

.imgLinks{
	padding-top: 5px;
	padding-bottom: 10px;
}

.containerMainBody{
	padding: 20px;
	margin-bottom: 30px;
	border:3px solid #00171f;
	background-image: url("../images/textured_paper.png");

}

.containerSidebar{

	padding:20px;
	margin-bottom: 30px;
	border:3px solid #00171f;
	background-image: url("../images/textured_paper.png");
}

.headerMainBody, .headerSidebar{
	font-family: 'Open Sans', Arial, "Helvetica Neue", Helvetica, sans-serif;
	border-bottom:3px solid #003459;
	color:#003459;
	margin-bottom: 20px;
	padding-bottom: 5px;
}

.imageEric{
	float: left;
	margin-right: 10px;
	padding: 5px;
}

p.paragraphText{
	font-size: 14px;
	line-height: 25px;
}

.headerTextColor{
	color:#ffffff;
}

a:link.headerTextColor{
	color: #ffffff;
	text-decoration: none;
}

a:visited.headerTextColor {
    color: #ffffff;
}

a:hover.headerTextColor{
	color:#003459;
}
.roundedCorners {
            border-top-left-radius:10px;
            border-top-right-radius:10px;
            border-bottom-right-radius: 10px;
            border-bottom-left-radius: 10px;
}
.icons{
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0);
}



.icons:link{}
.icons:visited{}
.icons:hover{
	animation: shake 1s cubic-bezier(.1,.07,.1,.07) both;
  	transform: translate3d(0, 0, 0);
  	-webkit-backface-visibility: hidden;
  	-webkit-transform: translate3d(0, 0, 0);
  	-webkit-transform: translateZ(0);
}  

.footerCenter{
	padding: 20px;
}


.navbar-default {
  	background-color: #00171f;
 	border-color: #007ea7;
 	font-size: 20px;
}

.navbar-default .navbar-brand {
  	color: #f8fafb;
  	font-size: 30px;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  	color: #00a8e8;
}

.navbar-default .navbar-text {
  	color: #f8fafb;
}

.navbar-default .navbar-nav > li > a {
  	color: #f8fafb;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  	color: #00a8e8;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  	color: #00a8e8;
  	background-color: #007ea7;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  	color: #00a8e8;
  	background-color: #007ea7;
}

.navbar-default .navbar-toggle {
  	border-color: #007ea7;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  	background-color: #007ea7;
}

.navbar-default .navbar-toggle .icon-bar {
  	background-color: #f8fafb;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  	border-color: #f8fafb;
}

.navbar-default .navbar-link {
  	color: #f8fafb;
}

.navbar-default .navbar-link:hover {
  	color: #00a8e8;
}

.activePage{
	background-color: #003459;

}

.textboxSize{
	margin: 10px 0px;
	width: 100%;
}

.submitButton{
	margin: 10px 30px 30px 0px;
	padding: 10px 25px;
	font-size: 14px;
	font-weight: bold;
}

.imgSizer{
	height:200px;


}
.textBG{
	position: relative;
	opacity: 0.8;
	background-color: #00171f;
	width: 255px;
	height: 40px;
	top: -55px;
	display: table;
	padding:0;
	margin: 0;
}

.portfolioTextDefault{
	
	display: table-cell;
	vertical-align: middle;
	text-align: center;
    font-size:16px;
	color: white;
   	width: 255px;
   	font-weight: bold;
   	top: 50px;
   	
}

@media(max-width:1199px){
	.imgSizer{
		height:160px;
		width:204px;
	}
	.textBG{
		width: 204px;
		top: -50px;
	}
}


@media(max-width: 991px){
	.imageEric{
		width: 200px;
		height: 200px;
	}

	.imgSizer{
		height:270px;
		width:336px;
	}
	.textBG{
		width: 336px;
		top: -60px;
	}
}

@media (max-width: 767px) {
  	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    	color: #f8fafb;
	}

  	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  	.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    	color: #00a8e8;
	}

  	.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
 	.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  	.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
   	 	color: #00a8e8;
    	background-color: #007ea7;
	}

  	.roundedCorners {
   		border-top-left-radius:0px;
    	border-top-right-radius:0px;
		border-bottom-right-radius: 0px;
    	border-bottom-left-radius: 0px;
    	border-left: none;
    	border-right: none;
	}

   .imageEric{
		width: 310px;
		height: 310px;
	}

	.imgSizer{
		padding-bottom: 0px;
		height:400px;
		width:500px;
	}

	.textBG{
		float: none;
    	margin: 0 auto;
		width: 500px;
	}
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}







